@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 20px 150px;
}


section .title {
    display: flex;
}

.title div {
    margin-right: 50px;
}

.title  img {
    border-radius: 50%;
    height: 150px;
}

.title h1 {
    font-size: 2.6rem;
}

.title  h3 {
    color: rgba(160, 154, 154, 0.938);
    font-size: 1.2rem;
}

hr {
    margin: 20px 0;
}

section .contact,
section .experience  {
    display: flex;
    justify-content: space-between;
}

.experience-left {
    padding-right: 10px;
    margin-right: 5px;
}

.contact ul {
    list-style: none;
}

.contact li {
    font-size: 0.9rem;
    padding-bottom: 15px;
    
}

.contact .icon {
    margin-right: 10px;
    width: 18px;
    height: 18px;
    color: rgba(160, 154, 154, 0.938);;
}

.experience .job {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

div h2 {
    color: rgb(42, 42, 66);
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    margin: 10px 0;
}

div h4 {
    font-size: 1.3rem;
    font-weight: 900;
}

div h5 {
    font-size: 1.2rem;
    font-weight: 400;
}

div .date {
    display: flex;
    justify-content: space-between;
}

.date span,
div h6  {
    color: rgba(160, 154, 154, 0.938);
    font-size: 0.8rem;
    font-style: italic;
    padding-bottom: 3px;
}

div p {
    font-size: 0.9rem;
    padding-bottom: 8px;
    
}

.skills button {
    background: rgba(175, 169, 169, 0.938);
    color: #fff;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    outline: none;
    padding: 8px;
    margin: 0 5px 5px 0;
    cursor: none;
}

.project div {
    margin-bottom: 5px;
}

.project h5 {
    font-size: 1rem;
}

.project p {
    font-size: 0.8rem;
}

.project p a {
    text-decoration: none;
    color: #000;
    padding-left: 5px;
    cursor: pointer;
}

div.achievement {
    display: flex;
    justify-content: space-between;
}

div.achievement  .lang {
    flex: 50%;
    max-width: 50%;
}

.lang p {
    font-size: 0.9rem;
    font-weight: 500;

}

.lang span {
    color: rgba(160, 154, 154, 0.938);
    font-style: italic;
    font-size: 0.8rem;
}

.hobbies button {
    background: transparent;
    font-size: 1rem;
    border-radius: 4px;
    color: #000;
    border: 2px solid rgba(160, 154, 154, 0.938);
    padding: 8px;
    font-weight: 500;
    cursor: none;
}

/* tablet view */


@media only screen and (max-width: 996px) {
body {
    font-family: 'Poppins', sans-serif;
    padding: 50px 50px;
}

}

@media only screen and (max-width: 896px) {
    body {
            font-family: 'Poppins', sans-serif;
            padding: 50px 25px;
    }

    .btn-wrapper {
        flex-direction: column;
    }
}

 @media only screen and (max-width: 710px) {
    body {
        font-family: 'Poppins', sans-serif;
         padding: 50px 50px;
}
    section .title {
        flex-direction: column;
        justify-content: center;
} 
    .title div {
        margin-right: 0;
     }
     section .contact,
     section .experience {
         flex-direction: column;
     }
     div p {
        font-size: 0.8rem;
        padding-bottom: 7px;
        
    }
        
}
/* mobile view */
@media only screen and (max-width: 375px) {
    body {
            font-family: 'Poppins', sans-serif;
            padding: 50px 50px;
    }

    section .title {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 

    .title h1 {
        font-size: 1.5rem;
        padding-top: 10px;
        font-weight: 900;
    }

    div h2 {
       font-size: 1.2rem;
    }

    .contact li {
        font-size: 0.7rem;
        padding-bottom: 15px;  
    }

    div h4 {
        font-size: 1.1rem;
        font-weight: 900;
    }

    div h5 {
        font-size: 1rem;
    }

    .hobbies button  {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        cursor: none;
    }
    
    }